<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>PokemonLatteAPI</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1 class="text-center">Quick Links</h1>
    <div class="alert alert-primary text-center">
      <a href="user/create/" class="alert-link">User Create</a>
    </div>
    <div class="alert alert-primary text-center">
      <a href="api/pokemon/" class="alert-link">Pokemon API</a>
    </div>
    <div class="alert alert-primary text-center">
      <a href="admin/" class="alert-link">Admin Login</a>
    </div>
    <div class="alert alert-primary text-center">
      <a href="token/" class="alert-link">Get Token Pair</a>
    </div>
    <div class="alert alert-primary text-center">
      <a href="token/refresh/" class="alert-link"
        >Get Access Token (Not needed since tokens are equivalent)</a
      >
    </div>
    <div class="alert alert-primary text-center">
      <a href="api/user" class="alert-link">Get Username/id</a>
    </div>
  </body>
</html>
